# Binary executables from book_files
book_files/client4
book_files/compile_all_user.sh
book_files/dumplogfile4
book_files/eventtospan3
book_files/flt_hog
book_files/hello_world_trace
book_files/kutrace_control
book_files/makeself
book_files/matrix_ku
book_files/memhog3
book_files/memhog_ram
book_files/mystery0
book_files/mystery1
book_files/mystery2
book_files/mystery23
book_files/paging_hog
book_files/postproc3.sh
book_files/rawtoevent
book_files/samptoname_k
book_files/samptoname_u
book_files/schedtest
book_files/server4
book_files/spantoprof
book_files/spantospan
book_files/spantotrim
book_files/time_getpid
book_files/timealign
book_files/unmakeself
book_files/whetstone_ku